fastapi
fastapi[standard]
uvicorn
uvicorn[standard]
SQLAlchemy
psycopg
psycopg[binary]
alembic
asyncpg
python-jose
python-jose[cryptography]
passlib[argon2]
passlib
argon2-cffi
python-multipart
pydantic-settings
httpx
fastapi_mail
email-validator
filetype
slowapi
python-dotenv
python-magic
filetype
aiosqlite
cloudinary

